@import 'custom/fonts/fonts';

//Core files
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import 'variables';
@import './node_modules/bootstrap/scss/mixins.scss';
// Structure

@import 'custom/structure/topbar';
@import 'custom/structure/footer';
@import 'custom/structure/sidebar';
@import 'custom/structure/layouts';
@import 'custom/structure/right-sidebar';
@import 'custom/structure/navbar';

// Components
@import 'custom/components/waves';
@import 'custom/components/avatar';
@import 'custom/components/accordion';
@import 'custom/components/helper';
@import 'custom/components/preloader';
@import 'custom/components/forms';
@import 'custom/components/widgets';
@import 'custom/components/demos';
@import 'custom/components/card';

// Plugins

@import './bootstrap.scss';
@import './icons.scss';

@import 'custom/plugins/apexcharts';


body[data-theme='dark'] {
    color: #a6b0cf !important;

    .card {
        background-color: #2a3042 !important;
        border: 0 solid #32394e !important;
      }
    .text-muted {
        color: #c3cbe4 !important;
        --bs-text-opacity: 1 !important;
    }
      .text-bold {
        color: #c3cbe4 !important;
    }

    .table {
        th,
        td {
          border-color: #32394e !important;
        }
      }

      .dropdown-menu {
        background-color: #2a3042 !important;
        color: #fff !important;
        border: $dropdown-border-width solid #fff !important;
      }
}
